.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: $m-size;
  
  @media (min-width: 100px) {
    flex-direction: row;
    margin-bottom: $l-size;
  }
}

.input-group__item {
  margin-bottom: $s-size;

  @media (min-width: 100px) {
    margin: 0 $s-size 0 0 ;
  }
}