// Colors
$dark-grey: #333;
$blue: #1c88bf;
$dark-blue: #364051;

// Font Size
$font-size-lg: 1.8rem;

// Spacing
$s-size: .8rem;
$m-size: 2.2rem;
$l-size: 3rem;
$xl-size: 4.8rem;
$dark-blue: #333745;
$purple: #8357c5;